DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/base_de_datos

JWT_SECRET_KEY=REEMPLAZAR_POR_UNA_CLAVE_SECRETA_SEGURA
JWT_ALGORITHM=REEMPLAZA_POR_ALGORITMO
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=REEMPLAZAR_POR_TIME