# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# IDE
.vscode/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/

# OS
.DS_Store
Thumbs.db